*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
/.idea/
/APDL.iml
/target/
/project/target/
/project/project/
/tmp.function
/apdl-gen.h
/apdl-main.ino
/apdl-loop.h
/apdl-main.c
/apdl-setup.h
/apdl-gen/
/apdl-test/
/example.ino
/src/main/resources/apdl_component.toml
/src/main/resources/apdl_type.toml
/src/main/resources/apdl_http.toml
/src/main/resources/example.scala
/src/main/resources/example.toml
/src/main/resources/example.saml
/bak/
/default-apdl-output/
/src/main/scala/apdl/report_code_example/
