[submodule "case-study-from-scratch-http"]
	path = case-study-from-scratch-http
	url = git@github.com:SnipyJulmy/APDL-from-scratch-http.git
[submodule "case-study-from-scratch-mqtt"]
	path = case-study-from-scratch-mqtt
	url = git@github.com:SnipyJulmy/APDL-from-scratch-mqtt.git
